body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 100%;
}

/* Team List styling */

.team-list {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: black 1px solid;
}

.player-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: antiquewhite;
  margin: 10px;
}

.psychic {
  background-color: blueviolet;
}

/* Main Display styling */

.main-display {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 60% 30%;
}

.status {
  border: 1px black solid;
}

.wheel-display {
  border: 1px red dashed;
  width: 100%;
}

.card-display {
  border: 1px blue dashed;
}
