body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.psychic {
  outline: 1px solid seagreen;
}

.player {
  outline: 1px solid coral;
}
